@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

html{
  scroll-behavior: smooth;
}
:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
  --colorPrimary: #9CB380;
  --colorPrimarybg: rgba(156,179,128, .35)
}

body {
  font-family: "Kaushan Script", cursive;
  background: var(--mainWhite);
  color: var(--mainBlack);
  overflow-x: hidden;
}
/* global styles */
.btn-color-primary {
  color: var(--colorPrimary)!important;
  border-color: var(--colorPrimary)!important;
}
.btn-color-primary:hover {
  color: var(--mainBlack)!important;
  background: var(--colorPrimary)!important;
}
.btn-color-black {
  color: var(--mainBlack)!important;
  border-color: var(--mainBlack)!important;
  
}
.btn-color-black:hover {
  color: var(--colorPrimary)!important;
  background: var(--mainBlack)!important;
}

/* nav links */
.navbar-toggler {
  outline: none!important;
}
.navbar-brand img{
  width: 4.5rem;
}
.toggler-icon {
  font-size: 2.5rem;
  color: var(--colorPrimary);
}
.nav-link {
  color: var(--colorPrimary);
  transition: all .3s ease-in-out;
  font-size: 1.3rem;
}
.nav-link:hover {
  color: var(--mainBlack);
}


/* cart styles */
.cart-info__icon {
  color: var(--mainBlack);
  cursor: pointer;
  transition: all .3s;
}

.cart-info {
  border: 0.1rem solid var(--mainBlack);
  color: var(--mainBlack);
  border-radius: .25rem;
  padding: .4rem .5rem;
  cursor: pointer;
  transition: all .3s;
}
.cart-info:hover {
  background: var(--colorPrimary);
  border-color: var(--colorPrimary);
  color: var(--mainWhite);
}
.cart-info:hover .cart-info__icon{
  color: var(--mainWhite);
}

/* banner */
.max-height {
  min-height: calc(100vh - 98px);
  background: linear-gradient(var(--colorPrimarybg), var(--colorPrimarybg)), url(/imgs/mainBG.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.banner {
  color: var(--mainWhite);
  margin-top: -4rem;
}
.banner-title {
  color: var(--colorPrimary);
  font-size: 4rem;
}
.banner-link {
  font-size: 1.5rem;
  color: var(--mainBlack);
  border: .2rem solid var(--mainBlack);
}
.banner-link:hover {
  background: var(--mainBlack);
  color: var(--colorPrimary);
}

/* ABOUT SECTION! */
.about-img__container {
  position: relative;
  
}

.about-img__container::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: .5rem solid var(--colorPrimary);
  z-index: -1;
  transition: all .8s;
}

.about-img__container:hover:before {
top: 0;
left: 0;

}

/* STORE SECTION */

.store {
  background: var(--mainGrey);
  
}

.search-box {
  background: var(--colorPrimary);
  cursor: pointer;
}

.single-item {
  transition: all .3s;
  
}
.single-item:hover {
  box-shadow: 0 10px 15px rgb(0,0,0);
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;

}
.store-img {
  transition: all .8s ease-in-out;

}
.img-container:hover .store-img{
  transform: scale(1.2);
}

.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: var(--colorPrimary);
  border-top-left-radius: 1rem;
  transition: all .8s ease-in-out;
  transform: translate(100%, 100%);
}
.store-item-icon:hover {
  color: var(--mainWhite);
}
.img-container:hover .store-item-icon{
  transform: translate(0, 0);
}
.single-item {
  height: 20rem;
}

/* end of STORE */



/* BENEFITS */
.benefits__icon {
  width: 64px;
  height: 64px;
  fill: green;
  
}
.benefits {
  color: var(--mainWhite);
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)) ,url(/imgs/benefits\ bg\ photo.jpg) center/cover fixed no-repeat;
}
.benefits-title {
  letter-spacing: .5rem;
}
.benefits-text {
  word-spacing: .5rem;
}
/* END OF BENEFITS */

/* FOOTER */
footer {
  background: var(--mainGrey);
}
.footer-icon {
  font-size: 1.5rem;
  color: var(--mainBlack);
  transition: all .4s;
}
.footer-icon:hover {
  color: var(--colorPrimary);
}
/* END OF FOOTER */

/* CART  */
.cart {
  position: absolute;
  min-height: 10rem;
  background: rgba(255,255,255,.7);
  top: 0;
  right: 0;
  width: 18rem;
  padding: 2rem 1.5rem;
  overflow: hidden;
  transform: translateX(100%);
  transition: all .3s ease-in-out;
  opacity: 0;
}

.cart-item-remove{
  color: var(--colorPrimary);
  transition: all .4s ease-in-out;
}

.cart-item-remove:hover{
  transform: scale(1.1);
  color: var(--mainBlack);
}
.cart-item-price{
  font-size: .8rem;
}
.show-cart {
  opacity: 1;
  transform:translateX(0);
}
.cart-item {
  transition: all 2s ease-in-out;
}